body {
    margin: 0;
}

#grid {
    width:1000px;
    height: 300px;
}

.tab-body { 
    height:300px;
}

#data-tab {
    padding:0;
}

#tabs {
    position:relative;
    z-index:0;
    margin:0;
    padding:0;
}

#tabs .ui-tabs-panel {
    background-color: #eee;
}

#tabs.ui-widget-content {
    background: none;
    background-color:transparent;
    border:0;
    color:white;
}

#tabs .ui-tabs-nav {
    padding:0;
}

#tabs .ui-widget-header {
    border:0;
    background:none;
    background-color:transparent;
}

#tabs .ui-tabs-nav li:first-child {
    margin:0;
}
#tabs .ui-tabs-nav li {
    margin: 0px 5px;
    border-radius: 0px 0px 15px 15px;
}

#graph {
    width:80%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    z-index:-5;
}
#logger textarea{
    width:100%;
    height:100%;
    font-size:80%;
}
#controls {
    top:50px;
    left:50%;
    margin-left:-250px;
    width:550px;
    position:fixed;
    z-index:-1;
}
#logger {
    position:fixed;
    right:10px;
    top:40%;
    z-index:-4;
    height:60%;
    width:20%;
}

#examples {
    position:fixed;
    right:10px;
    top:0px;
    z-index:-4;
    height:40%;
    width:20%;
}
#examples ol {
    padding:0;
}


.meter {
    height: 10px;  /* Can be anything */
    position: relative;
    margin: 0px 0 00px 0; /* Just for demo spacing */
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
    display: block;
    height: 100%;
       -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
     -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
         -moz-border-radius-bottomleft: 20px;
                border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(43,194,83)),
      color-stop(1, rgb(84,240,84))
     );
    background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    -webkit-box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}