body {
    margin: 0;
}

#grid {
    float:right;
    width:700px;
    height: 300px;
}
form {
    float:left;
    width:500px;
}
.tab-body { 
    height:300px;
}

#data-tab {
    padding:0;
}

#tabs {
    position:relative;
    z-index:0;
    margin:0;
    padding:0;
}

#tabs .ui-tabs-panel {
    background-color: #eee;
}

#tabs.ui-widget-content {
    background: none;
    background-color:transparent;
    border:0;
    color:white;
}

#tabs .ui-tabs-nav {
    padding:0;
}

#tabs .ui-widget-header {
    border:0;
    background:none;
    background-color:transparent;
}

#tabs .ui-tabs-nav li:first-child {
    margin:0;
}
#tabs .ui-tabs-nav li {
    margin: 0px 5px;
    border-radius: 0px 0px 15px 15px;
}
#controls ul {
    list-style:none; 
}
#graph {
    width:80%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    z-index:-5;
}
#logger textarea{
    width:100%;
    height:100%;
    font-size:80%;
}
#controls {
    position:fixed;
    right:10px;
    top:40%;
    z-index:-4;
    height:60%;
    width:20%;
    display:none;
}

#examples {
    position:fixed;
    right:10px;
    top:0px;
    z-index:-4;
    height:40%;
    width:20%;
    display:none;
}

#examples table {
    border-collapse: collapse;
}
#examples table td {
    border: 1px solid black;
}


#tooltip {
	display:block;
	position: absolute;
	z-index: 9000;
    max-width:600px;
	color:white;
	opacity: 0.96;
	margin:0;

    color:white;
}
#tooltip ul, #tooltip h3, #tooltip div, #tooltip p{ margin: 0; text-align:center; }
#tooltip ul {
    list-style:none;
    text-align:left;
    padding:0;
    background-color:navy;
	border-radius:10px;
	padding: 5px;
}
#tooltip ul.invalid {
    background-color:red;
}

td.example-color {
    width:32px;
}