@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
    margin: 0;
}

#grid {
    width:400px;
    height: 200px;
    margin-bottom:20px;
}
form {
    width:500px;
}
.tab-body { 
    height:300px;
}

#data-tab {
    padding:0;
}

#bottom-panel {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
    z-index:0;
    background-color:#333;
    font-family: 'Lato', sans-serif;
    overflow-y: scroll;
}
#bottom-panel h1,
#bottom-panel h2 {
color: #ffffff;
    font-size: 30px; font-weight: 300;
}
#bottom-panel .container {
    width: 430px;
    overflow-x: hidden;
    overflow-y: visible;
    padding-left: 5px;
}
form {
    color:white;
}

form p label {
    width:80px;
    float:left;
    font-weight: 400;
}
form p input {
    float:left;
    width:70px;
}
form p {
    float:left;
    width:200px;
    margin:5px
}
#bottom-panel label {
    color:white;
}
#bottom-panel h2 {
    border-bottom: 1px solid #4d4d4d;
    border-top: 1px solid #1a1a1a;
    padding:10px;
}
#top-panel {
	/*...*/
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
    z-index:1;
	transition-property: transform;
	transition-duration: 0.3s;
    background-color:white;
    box-shadow: 0px 0px 10px black; 
 	transform: translate3d(0, 0, 0);
    background-image:url("../images/bg.png");
}
 
#top-panel.is-slid  {
	transform: translate3d(420px, 0, 0);
	transition-delay: 0s;
}

.inline-label {
    font-weight:bold;
    float:left;
    margin-right:15px;
}
.run {
    float:right;
}

#graph {
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    z-index:-5;
}

#controls {
    position: absolute;
    bottom: 25px;
    z-index: -4;
    background-color: #333;
    border-radius: 5px;
    transition-property: transform;
    transition-duration: 0.2s;
    transform: translate3d(0, 0, 0);
    color: #dd5;
    padding: 10px;
    box-shadow: 2px 2px 4px #000;
    left: 50%;
    margin-left: -400px;
    width:500px;

}

#controls.hidden {
    transform: translate3d(0, 250px, 0);
}

#controls li {
    float: left;
}

#controls ul {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}

#controls p{
    margin: 0;
    margin-top: 5px;
}



#examples {
    position:fixed;
    top:0px;
    right:0px;
    z-index:-4;
    height:100%;
    width:200px;
    background: #333;
    overflow-y: visible;
    box-shadow: -3px 0px 5px #000;
    transition-property: transform;
    transition-duration: 0.2s;
    transform: translate3d(0, 0, 0);
}
#examples.hidden {
    transform: translate3d(210px, 0, 0);
}

#examples table {
    border-collapse: collapse;
}
#examples table td {
}


#tooltip {
	display:block;
	position: absolute;
	z-index: 9000;
    max-width:600px;
	color:white;
	opacity: 0.96;
	margin:0;

    color:white;
}
#tooltip ul, #tooltip h3, #tooltip div, #tooltip p{ margin: 0; text-align:center; }


td.example-color {
    width:32px;
}

.build {
    width:250px;
    display:block;
    text-align:center;
}



.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
}
.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
}
 .button:active {
    position:relative;
    top:1px;
}



.navicon-button {
    display: inline-block;
    position: relative;
    padding: 2.0625rem 1.5rem;
    transition: 0.25s;
    cursor: pointer;
    user-select: none;
    opacity: .8;
}
.navicon-button .navicon:before, .navicon-button .navicon:after {
    transition: 0.25s;
}
.navicon-button:hover {
    transition: 0.5s;
    opacity: 1;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
    transition: 0.25s;
}
.navicon-button:hover .navicon:before {
    top: .825rem;
}
.navicon-button:hover .navicon:after {
    top: -.825rem;
}

.navicon {
    position: relative;
    width: 2.5em;
    height: .3125rem;
    background: #3D94F6;
    transition: 0.5s;
    border-radius: 2.5rem;
}
.navicon:before, .navicon:after {
    display: block;
    content: "";
    height: .3125rem;
    width: 2.5rem;
    background: #3D94F6;
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.25s;
    border-radius: 1rem;
}
.navicon:before {
    top: .625rem;
}
.navicon:after {
    top: -.625rem;
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
    top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
    transition: 0.5s;
}

.open.larr .navicon:before, .open.larr .navicon:after {
    width: 1.5rem;
}

.open.larr .navicon:before {
    transform: rotate(35deg);
    transform-origin: left top;
}
.open.larr .navicon:after {
    transform: rotate(-35deg);
    transform-origin: left bottom;
}




.rwd-table {
    background: #333;
    color: #fff;
    overflow: hidden;
    padding:10px;
    border:0;
    margin:auto;
}
.rwd-table td {
    padding:10px;

}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.rwd-table th {
    padding:5px;
    color:#dd5;
    font-weight:bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


#help-bubble {
    display:block;
    position: fixed;
    z-index: 9999;
    max-width:600px;

    opacity: 0.96;
    margin:0;
    width:350px;
    border-radius:4px;
    padding:5px;
    background-color:#333;
    color:white;
}



.triangle-border:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #333 rgba(0, 0, 0, 0);
    display: block;
    width: 0;
}

.triangle-border:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #333 rgba(0, 0, 0, 0);
    display: block;
    width: 0;
}


.triangle-border.right {
  margin-left:auto;
}
.triangle-border.right:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:auto;
    right:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 0 15px 30px;
    border-color:transparent #333;
}
/* creates the smaller  triangle */
.triangle-border.right:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:auto;
    right:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 0 9px 21px;
    border-color:transparent #333;
}

.triangle-border.left {
  margin-left:auto;
}

/* creates the larger triangle */
.triangle-border.left:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #333;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #333;
}
#help-bubble .next{
    float: right;
}

#help-bubble .close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
}




#top-left-pane {
    position: absolute;
    top:0px;
    left:0px;
}
#top-left-pane > div {
    float:left;
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
    margin-right: 10px;
}


#top-left-pane .help,
#top-left-pane .about {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: translate3d(0, 0, 0);
    margin-top: 10px;
    margin-left: 20px;
}

#top-left-pane .help {
    background-image: url("../images/help.png");
    margin-left: 35px;
}

#top-left-pane .about {
    background-image: url("../images/info.png");
}

#top-left-pane .help:hover {
    transform: translate3d(0, -7px, 0);
}

#top-left-pane .about:hover {
    transform: translate3d(0, -7px, 0);
}


#lower-left-pane {
    position: absolute;
    bottom:25px;
    left:15px;
}

#lower-left-pane a.share img {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: translate3d(0, 0, 0);
    width: 35px;
    padding: 3px;
    border: 0;
    display: inline;
}

#lower-left-pane a.share img:hover {
    transform: translate3d(0, -7px, 0);
}